@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
.jesus-christ {
    .name {
        &-jesus,
        &-christ {
            letter-spacing: 5px;
            font-family: 'Great Vibes', cursive;
        }
        &-jesus {
            font-size: 6.4rem;
            line-height: 3.9rem;
        }
        &-christ {
            font-size: 3.8rem;
            margin-left: 5.4rem;
        }
    }
}