.navbar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    .phrase {
        letter-spacing: 26px;
        text-shadow: 3px 3px #000000;
    }
    .end {
        position: relative;
        margin-bottom: -46px;
    }
}