.number-one {
    .bg-black {
        background-color: black;
    }
    .number {
        &-text {
            margin-bottom: 2px;
        }
        &-number {
            font-size: 9rem;
            line-height: 8.4rem;
            padding-bottom: 0.6rem;
        }
    }
}