.action-button {
    $color-primary: #b15320;
    &.list-group-item {
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        border-left: 8px solid $color-primary;
        &:hover {
            border-left-width: 24px;
            background-color: $color-primary;
            color: white;
            cursor: pointer;
        }
        &:last-child {
            border-radius: 0;
        }
    }
}